<div class="modal fade" id="forgot-password-modal" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Forgot password form -->
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="formSubmithandler()">

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ modalTitle() }}</h1>
                    <button type="button" class="btn-close" (click)="hideModal()" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- For Getting user email -->
                    @if (modalFor() == "get-user-email") {
                        <ng-container>
                            <label for="forgotPasswordEmail" class="form-label">Email <span class="text-danger">*</span></label>
                            <input id="forgotPasswordEmail" formControlName="forgotPasswordEmail" type="email" class="form-control"
                                [ngClass]="( getFormControl('forgotPasswordEmail')?.dirty || getFormControl('forgotPasswordEmail')?.touched ) && ( getFormControl('forgotPasswordEmail')?.hasError('required') || getFormControl('forgotPasswordEmail')?.hasError('pattern') ) ? 'is-invalid' : ''"                
                            />
                            @if (getFormControl('forgotPasswordEmail')?.invalid && (getFormControl('forgotPasswordEmail')?.dirty || getFormControl('forgotPasswordEmail')?.touched)) {
                                @if (getFormControl('forgotPasswordEmail')?.hasError('required')) {
                                    <div class="text-danger">Email is required.</div>
                                }
                                @else if (getFormControl('forgotPasswordEmail')?.hasError('pattern')) {
                                    <div class="text-danger">Email email format</div>
                                }
                            }
                        </ng-container>
                    }


                    <!-- For getting OTP -->
                    @else if (modalFor() == "get-user-otp") {
                        @if (!isLoading()) {
                            <div class="alert alert-success">
                                One Time Password has been sent to email - {{ forgotPasswordForm.value.forgotPasswordEmail }} !!
                            </div>
                        }    

                        <ng-container>
                            <label for="OTP" class="form-label">Enter OTP <span class="text-danger">*</span></label>
                            <input id="OTP" formControlName="otp" type="text" class="form-control"
                                [ngClass]="( getFormControl('otp')?.dirty || getFormControl('otp')?.touched ) && ( getFormControl('otp')?.hasError('required') || getFormControl('otp')?.hasError('pattern') || getFormControl('otp')?.hasError('minlength') || getFormControl('otp')?.hasError('maxlength') ) ? 'is-invalid' : ''"
                            />
                            @if (getFormControl('otp')?.invalid && (getFormControl('otp')?.dirty || getFormControl('otp')?.touched)) {
                                @if (getFormControl('otp')?.hasError('required')) {
                                    <div class="text-danger">OTP is required.</div>
                                }
                                @else if (getFormControl('otp')?.hasError('pattern')) {
                                    <div class="text-danger">Invalid OTP format.</div>
                                }
                                @else if (getFormControl('otp')?.hasError('minlength') || getFormControl('otp')?.hasError('maxlength')) {
                                    <div class="text-danger">OTP must be exactly 6 digits long.</div>
                                }
                            }
                        </ng-container>

                        @if (OTPTimeOut() <= 0) {
                            <button type="button" class="btn text-decoration-underline px-0 mt-3" (click)="handleUserEmailSubmit()">Resend OTP</button>
                        }
                        @else { 
                            <div class="mt-3">Your OTP will expire in - {{ OTPTimeOut() }} Seconds</div>                            
                        }
                    }


                    <!-- For changing password -->
                    @else if (modalFor() == "get-user-new-password") {
                        
                        @if (forgotPasswordForm.hasError('passwordMatch')) {
                            <div class="alert alert-danger">
                                Password mismatched !!
                            </div>
                        }

                        <!-- New Password -->
                        <ng-container>
                            <div class="mb-3">
                                <label for="new-password" class="form-label">New Password</label>
                                <div class="input-group mb-3">
                                <input id="new-password" [type]="!showNewPassword() ? 'password' : 'text'" formControlName="new_password" class="form-control" 
                                    [ngClass]="( getFormControl('new_password')?.dirty || getFormControl('new_password')?.touched ) && ( getFormControl('new_password')?.hasError('required') || forgotPasswordForm.hasError('passwordMatch') ) ? 'is-invalid' : ''"
                                    />
                                    <span class="input-group-text" (click)="showNewPassword.set(!showNewPassword())">
                                        @if(!showNewPassword()) { <i class="bi bi-eye-fill"></i> }
                                        @else { <i class="bi bi-eye-slash-fill"></i> }
                                    </span>
                                    </div>
                            </div>
                        </ng-container>

                        @if (getFormControl('new_password')?.invalid && (getFormControl('new_password')?.dirty || getFormControl('new_password')?.touched)) {
                            @if (getFormControl('new_password')?.hasError('required')) {
                                <div class="text-danger">Password is required.</div>
                            }
                        }


                        <!-- Confirm New Password -->
                        <ng-container>
                            <div class="mb-3">
                                <label for="confitm-new-password" class="form-label mt-3">Confirm New Password</label>
                                <div class="input-group mb-3">
                                    <input id="confitm-new-password" [type]="!showConfirmNewPassword() ? 'password' : 'text'" formControlName="confirm_new_password" class="form-control" 
                                        [ngClass]="( getFormControl('new_password')?.dirty || getFormControl('confirm_new_password')?.touched ) && ( getFormControl('confirm_new_password')?.hasError('required') || forgotPasswordForm.hasError('passwordMatch') ) ? 'is-invalid' : ''"                        
                                        />
                                    <span class="input-group-text" (click)="showConfirmNewPassword.set(!showConfirmNewPassword())">
                                        @if(!showConfirmNewPassword()) { <i class="bi bi-eye-fill"></i> }
                                        @else { <i class="bi bi-eye-slash-fill"></i> }
                                    </span>
                                </div>
                            </div>
                        </ng-container>

                        @if (getFormControl('confirm_new_password')?.invalid && (getFormControl('confirm_new_password')?.dirty || getFormControl('confirm_new_password')?.touched)) {
                            @if (getFormControl('confirm_new_password')?.hasError('required')) {
                                <div class="text-danger">Password is required.</div>
                            }
                        }

                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
                    <button type="submit" class="btn btn-primary" [disabled]="isLoading()">
                        <span>Submit</span>
                        @if (isLoading()) {
                            <div class="spinner-border spinner-border-sm ms-2" role="status"><span class="visually-hidden">Loading...</span></div>
                        }
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>