#sign-up-wrapper {
    background: linear-gradient(45deg, #2e3736, transparent);
}


#sign-up-form {
    background: #eae5e5;
    border-radius: 15px 45px 30px 35px !important;
}

.link:hover {
    color: rgb(27, 36, 218) !important;
}